*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* .....BODY..... */
body{
    font-family: montserrat;
}


/* .....NAV....... */
nav{
    background-color: rgb(11, 11, 11);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

label.logo{
    color: aliceblue;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: aliceblue;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,nav ul li a:hover{
    background-color: rgb(23, 34, 105);
    transition: .5s;
}

.links{
    display: none;
}

/* .........CONTENT......... */
.content{
    text-align: center;
    color: aliceblue;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-image: url(image/wall.png);
    background-size: 100% 100%;
}

.content:hover{
    transform: scale(1.05,1.05);
    transition:ease-in-out .5s;
}

.content ul{
    position: relative;
    color: rgb(255, 254, 254);
    font-size: 40px;
    padding: 150px;
}

.content ul:hover{
    transform: scale(1.1,1.1);
    transition:ease-in-out .7s;
}




/* .............MOBILE DEVICES............. */
@media (max-width:850px) {
    
    /* .......NAV....... */
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    
    .links{
        display: block;
        display: flex;
    }

    .links li{
        margin: 0 auto;
    }
    
    a.active{
        color: antiquewhite;
    }

    nav ul li a:hover{
        background: none;
        color: rgb(28, 45, 157);
    }

    #check:checked ~ ul{
        left: 0;
    }
    

    /* .........CONTENT......... */

    .content img{
        height:20%;
    }

    .content ul{
        position: relative;
        padding: 70px;
        color: rgb(255, 254, 254);
        font-size: 15px;
    }

}

