body{
    background-color: gray;
    background-image: url(image/6233787.jpg);
    background-repeat: no-repeat;

}
.head h1{
    text-align: left;
    color: rgb(190, 9, 9);
    text-decoration: none;
    font-style: italic;
}
.head a:hover{
    color: red;
}
#menu{
    max-height: 1px;
    max-width: 20px;
    color: aliceblue;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;

  /* set transition up */
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  transition: max-height 0.7s;
  -webkit-transition: max-width 1s;
  -moz-transition: max-width 1s;
  transition: max-width 1s;
}
#menu ul li{
    padding: 2px;
    list-style-type: none;

}
#menu.open{
    max-height: 100px;
    max-width: 100%;
  
    /* set transition up */
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    -webkit-transition: max-width 0.7s;
  -moz-transition: max-width 0.7s;
  transition: max-width 0.7s;
  }  
#click{
    color: aliceblue;
    cursor: pointer;
}
#click:hover{
    color: red;
}
.flex{
    text-align: right;
    padding: 0.5em;
    color: white;
    background-color: rgb(1, 2, 32);
  border-radius: 10px;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  z-index: 2;
  top: 2px;
  position: sticky;
    border-radius: 10px;
}
.flex a{
    color: white;
    margin: 5px;
}
.flex a:hover{
 text-decoration: none;
}
.flex a i:hover{
    transform:scale(2,2) ;
    color: #21f321;
    margin-left: 5px;
    margin-right: 5px;
  }

.logo{
    display:block;
}


/*sing complete page*/
.body-com{
    background-color: white;
}
#comsi{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    -webkit-transition:opacity 0.7s;
  -moz-transition:opacity 0.7s;
  transition:opacity 0.7s;
}

#comsi .show{
    

    -webkit-transition:opacity 0.7s;
    -moz-transition:opacity 0.7s;
    transition:opacity 0.7s;
}
#comsi h2{
    color: aliceblue;
}
.load{
    border-radius: 50%;
   border: #21f321 dotted 5px;
    animation: loading 2s infinite ease-in;
}
.loading{
    padding: 50px;
}
@keyframes loading{
    0%{
        transform: rotate(-360deg);
    }

}