body{
    background-color: gray;
    background-image: url(image/6233787.jpg);
    background-repeat: no-repeat;

}
.head h1{
    text-align: left;
    color: rgb(190, 9, 9);
    text-decoration: none;
    font-style: italic;
}
.head a:hover{
    color: red;
}
.flex{
    text-align: right;
    padding: 0.5em;
    color: white;
    background-color: rgb(1, 2, 32);
  border-radius: 10px;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  z-index: 2;
  top: 2px;
  position: sticky;
    border-radius: 10px;
}
.flex a{
    color: white;
    margin: 5px;
}
.flex a:hover{
 text-decoration: none;
}
.flex a i:hover{
    transform:scale(2,2) ;
    color: #21f321;
    margin-left: 5px;
    margin-right: 5px;
  }

.logo{
    display:block;
}

.fa-amazon-pay{
    color: rgb(223, 86, 0);
}
.noti{
    align-items: center;
}
.fa-amazon-pay b{
    color: black;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.noti{
    /* border: solid white 3px; */
    display:block;
    text-align: center;
    width: 99%;
    margin: 10px auto;
    border-radius: 20px;
    background-color: rgba(74, 74, 74, 0.348);
}
.noti1{
    /* display: flex; */
    align-items: center;
    margin: 5px auto;
    padding-left: 10px;
    border-radius: 20px;
    border: solid white 2px;
    width: 90%;
}
.noti1:hover{
    transform: scale(1.04,1.04);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.636);
    color: white;
}
.fa-check-circle{
    color: #03a903;
}
.fa-apple-pay{
  color: yellow;
}
.fa-facebook{
    color: blue;
}
.fa-paypal{
    color: orangered;
}

/*sing complete page*/
.body-com{
    background-color: white;
}
.com-si{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}