.fa-list{
    color: rgb(34, 245, 34);
    border-bottom: solid 2px rgb(34, 245, 34);
    padding-bottom: 3px;
}

.list{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: gray;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    border: solid darkgray 2px;
}
#input{
    width: 85%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 4px;
}
.list-con{
    text-align: left;
    padding: 2px;
    background-color: aliceblue;
}
.list-con p{
    margin-left: 1em;
    font-style: italic;
}
.list-con-li ul{
    list-style-type:none;
    padding: 0;
}
.list-con-li ul li{
    padding: 20px;
    border-left: 5px solid black;
    margin: 20px 10px;
}
.list-con-li ul li:hover{
    border-color: rgb(16, 16, 231);
}
.delete{
    float: right;
    background-color: blue;
    color: aliceblue;
    padding: 6px;
    border-radius: 4px;
}
#add-book{
    margin: 30px;
}